In [1]:
import numpy as np
import pandas as pd
import scipy.stats as ss

In [4]:
tests = pd.read_csv('test_table.csv',index_col = 'user_id')
users = pd.read_csv('user_table.csv',index_col = 'user_id')
tests = tests.join(users)
tests.head(5)

               date  browser  test  pages_visited signup_date
user_id
600597   2015-08-13       IE     0              2  2015-01-19
4410028  2015-08-26   Chrome     1              5  2015-05-11
6004777  2015-08-17   Chrome     0              8  2015-06-26
5990330  2015-08-27   Safari     0              8  2015-06-25
3622310  2015-08-07  Firefox     0              1  2015-04-17